
# Python
__pycache__/
*.pyc
venv/
.venv/

# App Specific
backend/.env
backend/uploads/
backend/chroma_db_v3/
backend/vector_db/__pycache__/
backend/db/__pycache__/
backend/routes/__pycache__/

# Node/Frontend
node_modules/
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db
